<div class="col-md-6 console col-sm-12" >
  <div id="meetup-embed">

  </div>

  <script>
  function loadMeetupData(){
      var $embed = $('#meetup-embed');
      var nextMeetup = {
          link: "https://www.google.com/maps/place/Endolyne+Joe's/@47.520575,-122.392782,17z/data=!3m1!4b1!4m5!3m4!1s0x5490414e43de6d51:0xec32fc60535fec2d!8m2!3d47.520575!4d-122.390588",
          name: "Our Third Annual Thanksgiving Breakfast!",
      };
      var date = "November 23, 9:00 AM - 10:30 AM";
      venue = {
          name: "Endolyne Joe's",
          address_1: "9261 45th Ave SW",
          city: "Seattle",
          state: "WA",
          zip: "98136",
      };
      var summary = '<h4>Next Event:</h4>'+
      '<a href="'+ nextMeetup.link +'" target="_blank">'  +
        '<ul>'+
          '<li>'+ nextMeetup.name + '</li>'  +
          '<li>' + date + '</li>' +
          '<li>' + venue.name+ '</li>' +
          '<li>' + venue.address_1 + '</li>' +
          '<li>' + venue.city + ', ' + venue.state + ' ' + venue.zip + '</li>' +
        '</ul>' +
       '</a>';
      $embed.append(summary);
    }
  </script>
  <script>loadMeetupData() </script>
</div>
