<div class="col-md-6 console col-sm-12" >
  <div id="meetup-embed">

  </div>

  <script>
  function loadMeetupData(meetingDate){
      var $embed = $('#meetup-embed');
      var link = "https://wsealug.slack.com/";
      var summary = '<h4>Next Event:</h4>'+
      '<a href="'+ link + '" target="_blank">'  +
        '<ul>'+
          '<li>'+ "Lean Coffee Style Discussion" + '</li>'  +
          '<li>' + meetingDate + '</li>' +
          '<li>' + "Virtual Event" + '</li>' +
          '<li>' + "Visit " + link + " for details" + '</li>' +
        '</ul>' +
       '</a>';
      $embed.append(summary);
    }
  </script>
  <script src={{ site_prefix | append:'/assets/js/getEvent.js' }} type="text/javascript"></script> 
  <script>getEvent('https://gettogether.community/team/1318/events.ics', loadMeetupData);</script> 

</div>




