<div class="col-md-6 console col-sm-12" >
  <div id="meetup-embed">

  </div>

  <script>
  function loadMeetupData(){
      var $embed = $('#meetup-embed');
      var nextMeetup = {
          link: "https://www.google.com/maps/place/Chelan+Cafe/@47.5718316,-122.3637743,17z/data=!3m1!4b1!4m5!3m4!1s0x549040461de10d49:0x99eca976b512548a!8m2!3d47.5718316!4d-122.3615803",
          name: "End of Year Holiday Breakfast!",
      };
      var date = "December 21, 9:00 AM";
      venue = {
          name: "Chelan Cafe, West Seattle",
          address_1: "3527 Chelan Ave SW",
          city: "Seattle",
          state: "WA",
          zip: "98106",
      };
      var summary = '<h4>Next Event:</h4>'+
      '<a href="'+ nextMeetup.link +'" target="_blank">'  +
        '<ul>'+
          '<li>'+ nextMeetup.name + '</li>'  +
          '<li>' + date + '</li>' +
          '<li>' + venue.name+ '</li>' +
          '<li>' + venue.address_1 + '</li>' +
          '<li>' + venue.city + ', ' + venue.state + ' ' + venue.zip + '</li>' +
        '</ul>' +
       '</a>';
      $embed.append(summary);
    }
  </script>
  <script>loadMeetupData() </script>
</div>
